.portfolio__title {
  width: 250px;
  min-height: 20px;
  margin: 100px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__list {
  padding: 0;
  margin: 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.portfolio__element {
  width: 100%;
  min-height: 91px;
  padding: 13px 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__element:last-child {
  border-bottom: none;
}

.portfolio__element-name {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: black;
}

.portfolio__element-link {
  width: 29px;
  height: 60px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__icon {
  width: 65%;
  height: 65%;
  object-fit: contain;

  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .portfolio__title {
    margin-top: 91px;
  }

  .portfolio__element-name {
    font-size: 28px;
  }

  .portfolio__icon {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    width: 292px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    margin-top: 30px;
  }

  .portfolio__element {
    width: 100%;
    min-height: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .portfolio__element:last-child {
    border-bottom: none;
  }

  .portfolio__element-name {
    width: 250px;
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__element-link {
    width: 18px;
    height: 28px;
  }

  .portfolio__icon {
    width: 60%;
  }
}