.promo {
  padding: 0 70px;
  min-height: 575px;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
}

.promo__main-section {
  width: 100%;
  min-height: 304px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo__title {
  width: 640px;
  min-height: 174px;
  margin: 75px 0 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  color: white;
}

.promo__text {
  width: 310px;
  margin: 0;
  min-height: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.promo__illustration {
  margin: 75px 0 0;
  width: 310px;
  height: 304px;
}

.promo__learn-more-button {
  width: 129px;
  height: 36px;
  margin: 84px auto 75px 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  opacity: 0.6;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 1279px) {
  .promo {
    min-height: 850px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 140px;
  }

  .promo__main-section {
    min-height: 506px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__illustration {
    margin-top: 0;
  }

  .promo__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    width: 680px;
    min-height: 100px;
    margin-top: 48px;
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__text {
    text-align: center;
  }

  .promo__learn-more-button {
    margin: 92px auto 76px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding-top: 70px;
    min-height: 636px;
  }
  .promo__main-section {
    width: 100%;
    min-height: 364px;
  }
  .promo__illustration {
    width: 210px;
    height: 206px;
  }

  .promo__title {
    width: 300px;
    min-height: 114px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 38px;
  }

  .promo__text {
    width: 260px;
    min-height: 32px;
  }

  .promo__learn-more-button {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}