.searchForm {
  width: 100%;
  height: 158px;
  padding: 0 70px;
  margin: 70px auto 0;
}

.searchForm__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E8E8E8;
}

.searchForm__input {
  width: 1044px;
  margin: 0 16px 13px 0;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #A0A0A0;
}

.searchForm__search-button {
  width: 80px;
  height: 34px;
  background-color: #3456F3;
  border-radius: 48px;
  background-image: url(../../images//SearchForm/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

@media screen and (max-width: 1279px) {
  .searchForm {
    width: 768px;
    height: 153px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
  }

  .searchForm__input {
    width: 612px;
  }
}

@media screen and (max-width: 767px) {
  .searchForm {
    width: 320px;
    height: 162px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 90px;
  }

  .searchForm__form {
    align-items: center;
  }

  .searchForm__input {
    width: 196px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .searchForm__search-button {
    margin-bottom: 9px;
  }

}