.search-form {
  width: 100%;
  min-height: min-content;
  padding: 0 70px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__input {
  width: 1044px;
  margin: 0 16px 13px 0;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #1d1d1d;
  outline: none;
}

.search-form__input::placeholder {
  color: rgba(116, 116, 116, 0.281);
}

.search-form__search-button {
  width: 80px;
  height: 34px;
  background-color: #3456F3;
  border-radius: 48px;
  background-image: url(../../images/SearchForm/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.search-form__error {
  min-height: 12px;
  width: 100%;
  margin: 10px auto 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #A0A0A0;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .search-form {
    /* width: 768px; */
    /* min-height: 142px; */
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .search-form__input {
    width: 612px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    /* width: 320px; */
    /* min-height: 157px; */
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 80px;
  }

  .search-form__form {
    align-items: center;
    justify-content: space-between;
  }

  .search-form__input {
    width: 196px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__search-button {
    margin-bottom: 9px;
  }
}