.footer {
  margin: 185px auto 20px auto;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__text {
  width: 320px;
  min-height: 16px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
}

.footer__wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
}

.footer__copyright {
  width: fit-content;
  min-height: 16px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__nav-section {
  width: 263px;
  min-height: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer__nav-element {
  margin: 0;
}

.footer__nav-link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-top: 145px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 142px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .footer__text {
    width: 300px;
    min-height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .footer__wrapper {
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__nav-section {
    width: 100%;
    min-height: 69px;
    flex-direction: column;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .footer__copyright {
    margin: 30px auto 0;
    font-size: 12px;
    line-height: 15px;
  }
}