.footer {
  margin: 249px auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__text {
  width: 320px;
  min-height: 16px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
}

.footer__wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
}

.footer__copyright {
  width: 48px;
  min-height: 16px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__nav-section {
  width: 263px;
  min-height: 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer__nav-element {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: black;
}

.footer__nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #000000;
}