.techs {
  min-height: min-content;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
}

.techs__title {
  margin-top: 100px;
}

.techs__text-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__subtitle {
  width: 600px;
  min-height: 58px;
  margin: 90px 0 26px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.techs__text {
  width: 460px;
  min-height: 40px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.techs__list {
  width: 690px;
  height: 60px;
  padding: 0;
  margin: 100px auto;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
}

.techs__list-element {
  width: 90px;
  height: 60px;
  padding: 21px 0 22px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #E8E8E8;
}

@media screen and (max-width: 1279px) {
  .techs {
    padding-left: 50px;
    padding-right: 50px;
  }

  .techs__title {
    margin-top: 90px;
  }

  .techs__subtitle {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__list {
    width: 648px;
    height: 57px;
    margin-top: 83px;
    margin-bottom: 87px;
  }

  .techs__list-element {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding-left: 18px;
    padding-right: 18px;
  }

  .techs__title {
    margin-top: 68px;
  }

  .techs__subtitle {
    width: 292px;
    min-height: 36px;
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    width: 292px;
    min-height: 32px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    width: 178px;
    height: 258px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
