@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

button {
  outline: none;
  cursor: pointer;
  border: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-family: Inter;
}

.section {
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.section_type_narrow {
  padding: 0 442px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  width: 38px;
  height: 38px;
}

.section-title {
  width: 100%;
  margin: 100px auto 0 0;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: black;
}
