@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: opacity .4s;
}

.button:hover {
  opacity: 0.8;
}

a {
  transition: opacity .4s;
}

a:hover {
  opacity: 0.8;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  transition: opacity .4s;
}

.link:hover {
  opacity: 0.8;
}

.section {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.logo {
  width: 38px;
  height: 38px;
}

.section-title {
  width: 100%;
  margin: 110px auto 0 0;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: black;
}

@media screen and (max-width: 1279px) {
  .section-title {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-top: 70px;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}